/* CSS styles for the game canvas */
#game-canvas {
  background-color: lightgray;
  border: 1px solid white;
}

  
/* CSS styles for the scoreboard */
#scoreboard {
  position: absolute;
  top: 100px;
  left: 10px;
  color: black;
  font-size: 20px;
}