/* CSS styles for the game canvas */
#game-canvas {
  background-color: lightgray;
  border: 1px solid black;
  margin-top: 20px;
}

  
/* CSS styles for the scoreboard */
#scoreboard {
  position: fixed;
  top: 80px;
  left: 20px;
  width: 100%;
  color: black;
  font-size: 20px;
  display: flex;
}
span{
  flex: 1;
}
