/* CSS styles for the game canvas */
#game-canvas {
  background-color: lightgray;
  border: 1px solid black;
  display: block;
  margin: 20px auto;
}

#start-button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
}

/* CSS styles for the scoreboard */
#scoreboard {
  position: fixed;
  top: 80px;
  left: 20px;
  width: 100%;
  color: black;
  font-size: 20px;
  display: flex;
  padding: 0 15% ;
}
span{
  flex: 1;
}

header{
  text-align: center;
  margin-bottom: 10px;
}
